@font-face {
  font-family: "Poppins";
  src: url("/public/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

body {
  color: white;
  background: #171f34;
  font-family: "Poppins", sans-serif;
}
